/*--------------------------------------------------------------
# Buy Tickets Section
--------------------------------------------------------------*/





.card-body {
    padding: 0px;
  }

  hr {
      margin-top: unset;
      margin-bottom: unset;
  }

  .card-body img {
    height: 400px;
    /* width: 288px; */
    width: 208px;
    border-radius: 15px;
  }

#members {
    padding: 60px 0;
  }
  
  #members .card {
    /* border: none; */
    /* border-radius: 5px; */
    height: 430px;
    border: 1px saddlebrown black;
    border-radius: 15px;
    transition: all  0.3s ease-in-out;
    /* transition: height .10s  ,box-shadow 0.3s ease-in-out;
    -webkit-transition: height .30s ,-webkit-text-fill-color .30s ,box-shadow 0.3s ease-in-out; */
    box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.3);
    /* text-decoration-color: transparent; */
    /* -webkit-background-clip:text; */
    /* -webkit-text-fill-color:transparent; */
  }
  
  #members .card:hover {
    /* box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2); */
    box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.5);
    /* height: 430px; */
    /* -webkit-background-clip:text; */
    /* -webkit-text-fill-color:unset; */
  }
  
  /* #buy-tickets .card hr {
    margin: 25px 0;
  } */
  
  #members .card .card-title {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  #members .card .card-price {
    font-size: 48px;
    margin: 0;
  }
  
  #members .card ul li {
    margin-bottom: 20px;
  }
  
  #members .card .text-muted {
    opacity: 0.7;
  }
  
  #members .card .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #f82249;
    border: 0;
    color: #fff;
  }
  
  #members .card .btn:hover {
    background-color: #e0072f;
  }
  
  #members #buy-ticket-modal input,
  #members #buy-ticket-modal select {
    border-radius: 0;
  }
  
  #members #buy-ticket-modal .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #f82249;
    border: 0;
    color: #fff;
  }
  
  #members #buy-ticket-modal .btn:hover {
    background-color: #e0072f;
  }


  .margin-cell{
      margin-top: 50px;
  }
  